body {
	margin: 0;
	height: 100vh;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0efed;

}

h1 {
	font-size: 2.5em;
	font-weight: 900;
	letter-spacing: 0.20em;
	color: #263b70;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 40px;

}
h3{
	margin-top: 0;
}