body {
	margin: 0;
	height: 100vh;
	background: url("../images/photo-bg-1920.jpeg") no-repeat center;
	color: #000;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-weight: 600;
	letter-spacing: 0.20em;
}